<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <fieldset>
        <legend>Изменение данных пользователя</legend>
        <p>
            <label th:for="name">Введите имя:</label>
            <input type="text" th:field="*{name}" th:id="name">
        </p>
        <p>
            <label th:for="lastName">Введите фамилию:</label>
            <input type="text" th:field="*{lastName}" th:id="lastName">
        </p>
        <p>
            <label th:for="age">Введите возраст:</label>
            <input type="text" th:field="*{age}" th:id="age">
        </p>
    </fieldset>
    <br>
    <button type="submit">Изменить</button>
</form>
<br>
<form th:action="@{/users}">
    <button type="submit">Отмена</button>
</form>
</body>
</html>